@import "tailwindcss";
body{
    width: 100%;
}
.kavoon-regular {
  font-family: "Kavoon", serif;
  font-weight: 400;
  font-style: normal;
}

.lobster-two-regular {
  font-family: "Lobster Two", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lobster-two-bold {
  font-family: "Lobster Two", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lobster-two-regular-italic {
  font-family: "Lobster Two", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lobster-two-bold-italic {
  font-family: "Lobster Two", sans-serif;
  font-weight: 700;
  font-style: italic;
}


.boldonse-regular {
  font-family: "Boldonse", system-ui;
  font-weight: 400;
  font-style: normal;
}

.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}


.outfit-regular {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


.creators-hub {
  font-family: "pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}
.headingD1{
    font-family: "outfit", sans-serif;
    font-weight: 400;
    font-style: normal;

}
@media(max-width: 600px) {
  .headingD1 {
    font-weight: 100;
    
  }
}

.grid-heading{
    font-family: "Lobster Two", sans-serif;
    font-weight: 400;
    font-style: normal;
}